<div class="section" id="discuss">
    <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/cn/"><img alt="协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/cn/80x15.png" /></a>
</div>
